<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.PostLikesMapper">

    <resultMap id="PostLikesResultMap" type="com.First.pojo.PostLikes">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="post_id" jdbcType="BIGINT" property="postId"/>
        <result column="liked_by" jdbcType="BIGINT" property="likedBy"/>
        <result column="liked_time" jdbcType="TIMESTAMP" property="likedTime"/>
        <result column="like_check" jdbcType="BIGINT" property="likeCheck"/>
    </resultMap>

    <!-- like -->
    <insert id="like" parameterType="com.First.pojo.PostLikes">
        insert into t_post_likes (post_id, liked_by, liked_time)
        VALUES (#{postId}, #{likedBy}, #{likedTime})
    </insert>

    <!-- like cancel -->
    <!--<delete id="cancelLike">
        delete from t_post_likes where post_id = #{postId} and liked_by = #{likedBy}
    </delete>-->

    <!-- like cancel -->
    <update id="cancelLike" parameterType="com.First.pojo.PostLikes">
        update t_post_likes set like_check = 1
        where post_id = #{postId} and liked_by = #{likedBy}
    </update>

    <!-- check if the user already liked that post or not-->
    <select id="likeCheck" resultType="int">
        select like_check from t_post_likes where id = #{id}
    </select>


    <!-- Increasing like -->
    <update id="updateLike" parameterType="int">
        update t_post set total_likes = total_likes+1, new_likes = new_likes+1
        where id = #{postId}
    </update>

    <!-- Decreasing like -->
    <update id="updateLikeCancel" parameterType="int">
        update t_post set
        total_likes = total_likes - 1
        where id = #{postId}
    </update>


    <select id="queryLikesById" resultMap="PostLikesResultMap" parameterType="int">
        select * from t_post_likes where id = #{id} and like_check=0
    </select>

    <select id="queryLikesByPosterUserId" resultMap="PostLikesResultMap" parameterType="int">
        select * from t_post_likes where liked_by = #{liedBy} and post_id = #{postId}
    </select>

    <select id="queryLikesCheckByPostUserId" resultMap="PostLikesResultMap" parameterType="int">
        select like_check from t_post_likes where liked_by = #{likedBy} and post_id = #{postId}
    </select>

    <select id="queryLikesByIdandpost" resultMap="PostLikesResultMap" parameterType="com.First.pojo.PostLikes">
        select * from t_post_likes where liked_by = #{likedBy} and post_id = #{postId}

    </select>



    <update id="resumeLike" parameterType="com.First.pojo.PostLikes">
        update t_post_likes set like_check = 0
        where post_id = #{postId} and liked_by=#{likedBy}
    </update>


</mapper>
