<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.PostLikeNotificationMapper">

    <resultMap id="PostLikeNotificationResultMap" type="com.First.pojo.PostLikeNotification">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="post_id" jdbcType="BIGINT" property="postId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="like_time" jdbcType="TIMESTAMP" property="likedTime"/>
        <result column="is_read" jdbcType="BIGINT" property="isRead"/>
        <result column="like_number" jdbcType="BIGINT" property="likeNumber"/>
    </resultMap>

    <insert id="addLikeNotification" parameterType="com.First.pojo.PostLikeNotification">
        insert into t_post_like_notification (post_id, user_id, like_time)
        VALUES (#{postId}, #{userId}, #{likedTime})
    </insert>

</mapper>