<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.PostMapper">

    <resultMap id="PostResultMap" type="com.First.pojo.Post">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="writer_id" jdbcType="BIGINT" property="writerId" />
        <result column="written_time" jdbcType="TIMESTAMP" property="writtenTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="anonymous" jdbcType="BIGINT" property="anonymous" />
        <result column="kudos" jdbcType="BIGINT" property="kudos" />
        <result column="criticism" jdbcType="BIGINT" property="criticism" />
        <result column="views" jdbcType="BIGINT" property="views" />
    </resultMap>

    <insert id="addPost" parameterType="com.First.pojo.Post">
        insert into t_post (title,writer_id,written_time,content,anonymous) values (#{title},#{writerId},#{writtenTime},#{content},#{anonymous})
    </insert>

    <delete id="deletePostById" parameterType="int">
        delete from t_post where id = #{id};
    </delete>

    <update id="updatePost" parameterType="com.First.pojo.Post">
        update t_post set title=#{title},update_time=#{updateTime},content=#{content},anonymous=#{anonymous} where id =#{id}
    </update>

    <update id="updatePostViews" parameterType="com.First.pojo.Post">
        update t_post set views=#{views} where id =#{id}
    </update>

    <update id="updatePostKudos" parameterType="com.First.pojo.Post">
        update t_post set kudos=#{kudos} where id =#{id}
    </update>

    <update id="updatePostCriticism" parameterType="com.First.pojo.Post">
        update t_post set criticism=#{criticism} where id =#{id}
    </update>

    <select id="queryPostById" resultMap="PostResultMap" parameterType="int">
        select * from t_post where id = #{id}
    </select>

    <select id="queryAllPost" resultMap="PostResultMap">
        select * from t_post
    </select>

    <select id="queryPostByTitle" resultMap="PostResultMap">
        select * from t_post where title=#{title}
    </select>

    <select id="queryGlobalPost" resultMap="PostResultMap" parameterType="com.First.VO.PostQueryInfo">
        select ft.*,t.type_name fcn

    FROM t_type t,
             (
    select p.id,
           p.title,
           p.writer_id,
           p.written_time,
           p.update_time,
           p.content,
           p.anonumous,
           p.kudos,
           p.criticism,
           p.views,
           t.type_name,
           GROUP_CONCAT(DISTINCT t.id) typelist,
           GROUP_CONCAT(DISTINCT t.type_name) typeContent
    from t_post p
        LEFT JOIN t_type_to_post tp on tp.post_id = p.id
        LEFT JOIN t_type ty on ty.id=tp.type_id
    WHERE 1=1
        <if test="typelist !=null ">
            and t.id in
            <foreach collection="typelist" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        GROUP BY p.id
        ) ft
    </select>

    <!--- getting list of post -->
    <select id="getAllPostPresent" resultMap="PostResultMap">
        select 
            id,
            title,
            writer_id,
            written_time
        from t_post
    </select>
    
    
</mapper>