<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.PostCollectMapper">

    <resultMap id="PostCollectResultMap" type="com.First.pojo.PostCollect">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="post_id" jdbcType="BIGINT" property="postId"/>
        <result column="collected_by" jdbcType="BIGINT" property="collectedBy"/>
        <result column="collected_time" jdbcType="TIMESTAMP" property="collectedTime"/>
        <result column="collect_check" jdbcType="BIGINT" property="collectCheck"/>
    </resultMap>

    <insert id="collect" parameterType="com.First.pojo.PostCollect">
        insert into t_post_collect (post_id, collected_by, collected_time,collect_check)
        VALUES (#{postId}, #{collectedBy}, #{collectedTime},#{collectCheck})
    </insert>

    <update id="cancelCollect" parameterType="int">
        update t_post_collect set collect_check = 1
        where id = #{id}
    </update>

    <!-- check if the user already liked that post or not-->
    <select id="collectCheck" resultType="int">
        select collect_check from t_post_collect where id = #{id}
    </select>

    <select id="queryCollectByUserId" resultMap="PostCollectResultMap">
        select * from t_post_collect where collected_by = #{collectedBy} and collect_check=0
    </select>

    <select id="queryCollectById" resultMap="PostCollectResultMap" parameterType="int">
        select * from t_post_collect where id = #{id} and collect_check=0
    </select>

    <!-- Increasing collect -->
    <update id="updateCollect" parameterType="int">
        update t_post set total_collects = total_collects+1
        where id = #{postId}
    </update>

    <!-- Decreasing collect -->
   <update id="updateCollectCancel" parameterType="int">
        update t_post set
        total_collects = total_collects - 1
        where id = #{postId}
    </update>

    <!--<select id="queryCollectByPostUserId" resultMap="PostCollectResultMap" parameterType="int">
        select * from t_post_collect where collected_by = #{collectId} and post_id = #{postId}
    </select>-->

    <select id="queryCollectByIdandpost" resultMap="PostCollectResultMap" parameterType="com.First.pojo.PostCollect">
        select * from t_post_collect where collected_by = #{collectedBy} and post_id = #{postId}

    </select>



</mapper>
