<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.PostCollectNotificationMapper">

    <resultMap id="PostCollectNotificationResultMap" type="com.First.pojo.PostCollectNotification">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="post_id" jdbcType="BIGINT" property="postId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="collect_time" jdbcType="TIMESTAMP" property="collectedTime"/>
        <result column="is_read" jdbcType="BIGINT" property="isRead"/>
        <result column="collect_number" jdbcType="BIGINT" property="collectNumber"/>
    </resultMap>

    <insert id="addCollectNotification" parameterType="com.First.pojo.PostCollectNotification">
        insert into t_post_like_notification (post_id, user_id, collect_time)
        VALUES (#{postId}, #{userId}, #{collectedTime})
    </insert>

</mapper>
