<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.SecretQuestionMapper">

    <resultMap id="SecretQuestionResultMap" type="com.First.pojo.SecretQuestion">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="question" jdbcType="VARCHAR" property="question" />
    </resultMap>

    <select id="listSecretQuestion" resultType="com.First.pojo.SecretQuestion">
        select * from t_secret_question
    </select>

</mapper>