<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.TypeToPostMapper">

    <resultMap id="TypeToPostResultMap" type="com.First.pojo.TypeToPost">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="post_id" jdbcType="BIGINT" property="postId" />
        <result column="type_id" jdbcType="BIGINT" property="typeId" />

    </resultMap>

    <insert id="addTypeToPost" parameterType="com.First.pojo.TypeToPost">
        insert into t_type_to_post (post_id,type_id)
        values (#{postId},#{typeId})
    </insert>

    <delete id="deleteTypeToPostById" parameterType="int">
        delete from t_type_to_post where id = #{id};
    </delete>

    <update id="updateTypeToPost" parameterType="com.First.pojo.TypeToPost">
        update t_type_to_post set post_id=#{postId} ,type_id=#{typeId} where id =#{id}
    </update>

    <select id="queryTypeToPostById" resultMap="TypeToPostResultMap">
        select * from t_type_to_post where id=#{id}
    </select>

    <select id="queryAllTypeToPost" resultMap="TypeToPostResultMap">
        select * from t_type_to_post
    </select>


</mapper>