<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.First.dao.UserMapper">

    <resultMap id="UserResultMap" type="com.First.pojo.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="secret_question" jdbcType="BIGINT" property="secretQuestion"/>
        <result column="secret_answer" jdbcType="VARCHAR" property="secretAnswer"/>
        <result column="avator" jdbcType="VARCHAR" property="avator"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="personalInfo" jdbcType="VARCHAR" property="personalInfo"/>
    </resultMap>

    <select id="listUser" resultType="com.First.pojo.User">
        select *
        from t_user
    </select>

    <select id="queryUserByName" resultMap="UserResultMap">
        select *
        from t_user
        where username = #{username}
    </select>

    <select id="queryUserById" resultMap="UserResultMap">
        select *
        from t_user
        where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.First.pojo.User">
        insert into t_user(username, password, secret_question, secret_answer, avator)
        values (#{username}, #{password}, #{secretQuestion}, #{secretAnswer}, #{avator})
    </insert>

    <update id="updatePerosnalInfo" parameterType="com.First.pojo.User">
        update t_user
        set username=#{username},
            gender=#{gender},
            grade=#{grade},
            major=#{major},
            personalInfo=#{personalInfo}
        where id = #{id}
    </update>

    <update id="updateAvator" parameterType="com.First.pojo.User">
        update t_user
        set avator=#{avator}
        where id = #{id}
    </update>

    <update id="updatePassword" parameterType="com.First.pojo.User">
        update t_user
        set password=#{password}
        where id = #{id}
    </update>

</mapper>
